
/* Estilos de Banner */

.Slider-box{
  width: 300px;
  margin: 50px auto 0;
  padding: 10px;
  background-color: #0056b3;
}

.slider-box ul{
  display: flex;
  padding: 0;
  width: 300%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
  width: 100%;
  list-style: none;
  padding: 20px;
}

.slider-box img{
  width: 100%;
}
@keyframes slide {

   0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
}
@media(max-width:991px){
  body{
    padding: 30px;
  }
  .slider-box{
      width: 100%;
  }
}

/* Estilos del pie de página */

@media (max-width: 415px){
  .presentacion{
    flex-direction: column;
  }
}
h1{
  text-align: center;
}

.ct_pie {
  display: flex;
  padding: 20px;
}

.social {
  flex: 1;
  text-align: right;
}

.social a {
  display: inline-block;
  margin-left: 10px;
  color: #007bff;
  font-size: 20px;
  text-decoration: none;
  padding: 1px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}


/* Estilos del pie de página */
.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.btn-cart::after {
  content: attr(data-quantity);
  position: absolute;
  font-size: 15px;
  color: rgb(255, 1, 1);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}

.bi-cart4 {
  width: 24.38px;
  height: 30.52px;
  transition: .2s linear;
}

.icon-cart path {
  fill: rgb(240, 8, 8);
  transition: .2s linear;
}

.btn-cart:hover > .bi-cart4 {
  transform: scale(1.2);
}

.btn-cart:hover > .ibi-cart4 path {
  fill: rgb(186, 34, 233);
}

.btn-cart:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}

.quantity {
  display: none;
}

header h1 {
  margin: 0;
}

.container-Cu {
  margin: auto 0;
  padding: 20px;
  width: 100%;
}

.img-02{
  width: 100%;
  padding: 10px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

footer{
  background: #fd611a;
}

.alineacion{
  display: flex;
  justify-content: end;
}

.logo img{
  display: flex;
  width: 300px;
  padding: 10px;

}
.imgbanner{
  width: 300px;
  display: flex;
  justify-content: center;
}
.dropdown-item{
  width: 20px;
}
img{
  width: 150px;

}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navbar-brand img {
  max-width: 250px; 
  width: 100%;
  height: auto; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  background-color:#fd611a;
  padding: 10px 0;
  text-align: center;
}
nav a {
  color: #000;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

.product-section {
  margin: 20px 0;
}
.product-section h2 {
  text-align: center;
  margin-bottom: 20px;
}
.product {
  display: flex;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
}
.product img {
  max-width: 200px;
  margin-right: 20px;
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product h3 {
  margin: 0;
}
.product p {
  margin: 5px 0;
}
.product span {
  font-weight: bold;
  color: #e60000;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;body, html {
  height: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa; 
}

.logo img {
  height: 120px; 
  margin-right: 100px; 
}

h1 {
  margin: 0;
  font-size: 24px;
}
.uv{
  display: flex;
  text-align: right;
  align-items: center;
}

/*pagina ayuda*/
.faq {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}
.faq h2 {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  font-size: medium;
}
.faq-content {
  display: none;
  padding: 10px;
}
.titulo{
  gap: 20px;
  padding: 20px;
}
.card{
  margin-top: 20px;
}

@media (max-width: 768px) {
  video {
    width: 100%;
    height: auto;
  }
}

.video-container {
  position: relative;
}

.video-container video {
  max-width: 100%;
  display: block;
}

.ct-pie{
  display: flex;
  justify-content: center;
  background-image: url(imagenes/LOGITECHGAMINGG-PROX2.jpg);
  padding: 30px;
}